.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logoBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}
.libraryBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}
.link {
    text-decoration: none;
}
.title {
    font-size: 24px;
    color: black;
}